# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
.eggs/
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store        # Mac
Thumbs.db        # Windows
desktop.ini      # Windows

# Sensitive stuff
.env
*.key
secrets.py

# IDEs
.vscode/
.idea/

# Data files
*.h5
*.hdf5
